<%- include('../parts/html_header') %> 
<%- include('../parts/navbar') %>

<div class="container">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">新增資料</h5>
          <form name="form1" onsubmit="checkForm(); return false;">
            <div class="mb-3">
              <label for="pro_name" class="form-label">商品名稱</label>
              <input type="text" class="form-control" id="pro_name" name="pro_name" />
            </div>
            <div class="mb-3">
              <label for="pro_stock" class="form-label">庫存</label>
              <input type="number" class="form-control" id="pro_stock" name="pro_stock" />
            </div>
            <div class="mb-3">
              <label for="pro_selling" class="form-label">銷售量</label>
              <input
                type="number"
                class="form-control"
                id="pro_selling"
                name="pro_selling"
              />
            </div>
            <div class="mb-3">
              <label for="pro_intro" class="form-label">商品介紹</label>
              <input
                type="text"
                class="form-control"
                id="pro_intro"
                name="pro_intro"
              />
            </div>
            <div class="mb-3">
              <label for="pro_condition" class="form-label">銷售狀態</label>
              <input
                type="text"
                class="form-control"
                id="pro_condition"
                name="pro_condition"
              />
            </div>
            <div class="mb-3">
              <label for="format_id" class="form-label">對應規格id</label>
              <input
                type="number"
                class="form-control"
                id="format_id"
                name="format_id"
              />
            </div>
            <div class="mb-3">
              <label for="pro_img" class="form-label">圖片</label>
              <input
                type="text"
                class="form-control"
                id="pro_img"
                name="pro_img"
              />
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('../parts/script') %>
<script>
  // 資料檢查
  function checkForm(){
    const fd = new FormData(document.form1);
    console.log([...fd]);
    const usp = new URLSearchParams(fd);
    // console.log([...usp]);
    const dataObj = {};
    for(let i of fd){
      dataObj[i[0]] = i[1];
    }
    console.log({dataObj});
     // TODO: 檢查資料格式
      /*
      fetch('/product_sake/add2', {
        method: 'POST',
        body: fd,
      }).then(r=>r.json())
      .then(obj=>{
        console.log(obj);
      });
      */
     fetch('',{
      // path 相同所以放 ''
      method:'POST',
      body:JSON.stringify(dataObj),
      headers:{
        'Content-Type':'application/json'
      }
     }).then(r => r.json())
     .then(obj =>{
       console.log(obj);
     });
  }


// 測試joi
  // const Joi = joi;
  // const schema = Joi.object({
  //   pro_name:Joi.string().alphanum().min(6).max(20).require(),
  //   pro_stock:Joi.number().required(),
  //   pro_selling:Joi.number().required()
  // });
  // console.log( schema.validate({Pro_name:'asdgfgjk',pro_stock:'cv'}));
  // console.log( schema.validate({Pro_name:'asdgfgjk',pro_stock:'cv'},{abortEarly: false}));
  // console.log( schema.validate({Pro_name:'asdgfgjk',pro_stock:'23'}));
</script>
<%- include('../parts/html_footer') %> 